.collection {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: $primaryYellow;
    padding: 70px 20px;

    &_container {
        border-top: 1px solid #998431;
        border-bottom: 1px solid #998431;
        padding: 60px 0 60px 0;
        max-width: $containerWidth;
        display: flex;
        gap: 50px;

        @media (max-width:$breakPoint1100) {
            flex-direction: column;
            padding: 60px 20px;

            .content {
                width: 100%;
                text-align: center;

                &_title {
                    display: grid;
                    place-items: center;
                }

                &_table {
                    margin: 0 auto;
                }
            }

            .image {
                gap: 10px;
                img {
                    width: 100%;
                }

            }
        }

        @media (max-width:$breakPoint900){
            .image{
                grid-auto-rows: 1fr;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                gap:0 10px;
                grid-template-areas:
                    "a b c";    
            }
        }
    }
}

.content {
    width: 50%;

    &_pre-title {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }

    &_title {
        font-size: 36px;
        line-height: 150%;
        margin: 30px 0 60px 0;
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            width: 160px;
            background-color: black;
            bottom: -30px;
        }
    }

    &_text {
        font-weight: 400;
        font-size: 14px;
        margin: 40px 0;
    }

    &_table {
        border-spacing: 0;
        border-collapse: collapse;
        margin: 30px 0;

        td {
            padding: 20px;
            border-right: 1px solid black;

            &:last-child {
                border-right: none;
            }

            h3 {
                font-size: 18px;
                margin-bottom: 5px;
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
            }
        }

        tr {
            border-top: 1px solid black;

            &:first-child {
                border-top: none;
            }

        }
    }
}

.image {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 30px 30px;
    grid-template-areas:
        "a a"
        "b c";

    .a {
        grid-area: a;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .b {
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-area: b;
    }

    .c {
        width: 100%;
        height: 100%;
        object-fit: cover;

        grid-area: c;
    }


}