.footer {
    width: 100%;
    height: 220px;
    display: grid;
    place-items: center;
    background-color: $primary;
    @media (max-width:$breakPoint900) {
        height: 100%;
    }

    &_container {
        width: 100%;
        max-width: $containerWidth;
    }
}

.menu:first-child{
    .menu_item{
        border-right:none;
    } 
}

.menu:last-child{
    .social {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}

.footer .menu {
    @media (max-width:$breakPoint900) {
            flex-direction: column;
    }

    &:last-child{
        text-transform: uppercase;
    }

    .menu_item{
        &:hover {
            background-color: $primaryBlack;
        }
    }
    &_link {
        color: white;
    }
}