.feedback {
    width: 100%;
    height: 100vh;
    background-color: #282828;
    display: grid;
    place-items: center;
    padding: 0 70px;
    @media (max-width:$breakPoint900){
        padding: 60px 20px;
        height: 100%;
    }
}



.container {
    max-width: $containerWidth;
    border: 1px solid #FFFFFF;
    padding: 0 250px;
    text-align: center;
    color: white;
    position: relative;
    &::before,&::after{
        content: '';
        display: block;
        position: absolute;
        width: 250px;
        height: 250px;
    }

    &::before{
        left: -50px;
        top: -70px;
        background-image: url(../src/img/image\ \(2\).png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &::after{
        max-width: 260px;
        height: 200px;
        right: -50px;
        top: -70px;
        background-image: url(../src/img/image\ \(1\).png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @media (max-width:$breakPoint1100) {
        padding: 0 150px;
        &::after{
            width: 190px;
            height: 160px;
        }
        &::before{
            width: 157px;
            height: 148px;
            top: -50px;
        }
        .title{
            max-width: 400px;
            margin: 0 auto;
        }
    }

    @media (max-width:$breakPoint900){
            padding: 0 50px;
        &::before,&::after{
            display: none;
        }
    }
    .title {
        font-size: 36px;
        line-height: 150%;
        background-color: #282828;
        margin-top: -30px;
        position: relative;
        display: grid;
        place-items: center;

        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            width: 160px;
            background-color: white;
            bottom: -30px;
        }
    }

    .text {
        padding: 70px 0;
    }

}



.form {
    margin-bottom: 80px;

    .contact {
        display: flex;
        gap: 30px;
    }

    &_input {
        width: 100%;
        height: 30px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #FFFFFF;
        margin-bottom: 40px;

        &:focus {
            outline: none;
            border-bottom: 1px solid $primary;
        }

        &::placeholder {
            font-family: $montserrat;
            color: white;
            font-weight: 500;
            font-size: 13px;
        }
    }

    &_btn {
        width: 100%;
        background: none;
        color: white;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding: 15px 30px;
        border: 1px solid #FFFFFF;

        &:hover {
            background-color: $primary;
            color: black;
        }
    }
}