.hero{
    width: 100%;
    height: 100vh;
    background-image: url(../src/img/bgc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    .btns{
        position: absolute;
        display: flex;
        bottom: 150px;
        justify-content: center;
        width: 100%;
        align-items: center;
        gap: 10px;
        @media (max-width:400px) {
            flex-direction: column;
            a{
                width: 100%;
                text-align: center;
            }
        }
    }
}