.description {
    width: 100%;
    height: 100vh;
    background-color: #282828;
    display: grid;
    place-items: center;
    padding: 20px;
    @media (max-width:$breakPoint1450) {
        height: auto;
    }
    &_container {
        max-width: $containerWidth;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid white;
        text-align: center;
        padding: 60px 180px;
        @media (max-width:$breakPoint900) {
            padding: 60px 20px;
        }
    }

    &_title {
        font-size: 1.9rem;
        line-height: 150%;
        color: white;
        position: relative;
        display: grid;
        place-items: center;
        &::after{
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            width: 160px;
            background-color: white;
            bottom: -40px;
        }
        @media (max-width:$breakPoint900) {
            font-size: 1.5rem;;
        }
    }

    &_text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: white;
        margin: 80px 0 50px 0;
        @media (max-width:$breakPoint900) {
            font-size: .9rem;;
        }

    }
}