$containerWidth: 1110 + px;

$primary:#998431;
$primaryBlack:#282828;
$primaryYellow:#E6E3C4;

$montserrat: 'Montserrat', sans-serif;
$playfair: 'Playfair Display SC', serif;

$breakPoint1450: 1450 + px;
$breakPoint1100: 1100 + px;
$breakPoint900: 900 + px;